body{
  margin:0px;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color:#32dbc6;
  font-size: 20px;

}

p{
  color:#464159;
  margin:0px;

}

.top-container{
background-color: #ebefd0;
margin:0px;
position:relative;

}


.hello-container{

}

.my-skills-container{


width:50%;
margin:100px auto 100px auto;
}

.hot-wings-challenge-container{

  width:50%;
margin:100px auto 100px auto;
}

.get-in-touch{

  width:50%;
margin:100px auto 100px auto;
}

.bottom-container{
  background-color:#a0cc78;
  margin-top: 50px;
  height:200px;
}

/* This is top container images*/

.top-img-one{
  height:600px;
  width:700px;
  position:relative;


}

.top-img-two{
height:100px;
width:150px;
position:absolute;
left:100px;
top:200px;

}

.top-img-three{
  height:100px;
  width:150px;
  position:absolute;
  right:100px;
  bottom:100px;
}
/* end */


.my-name{
margin:0px auto 0px auto;
padding:100px 0px 0px 0px;
font-family: 'Tangerine', cursive;
font-size:120px;
color:#a0cc78;
line-height: 100px;


}


.designation{
margin:0px;
padding:0px;


}



h2{
  margin:0px;
  font-size: 40px;
}


.profile-image{
  border-radius: 100%;
  margin:20px 0px 20px 0px;
  height:150px;
  width:150px;
}

.my-skills-para{
text-align: left;

}



.hello-para{
  padding-bottom: 30px;
}


.skills-image{
height:200px;
width:200px;
border-radius: 100%;
float: left;
margin-right: 20px;

}


h3{
  margin:0px;
  text-align: left;

}

.skills-h2{
text-align: left;
padding-top: 15px;
font-size: 35px;
}

.chilli-img{
border-radius: 100%;
height:200px;
width:200px;
float: right;




}



.hot-wings-para{
text-align: left;


}


.hot-wings-h2{
text-align: left;
padding-top: 30px;



}


hr{

border-style: dotted none none none;
border-color: #a0cc78;
width: 5%;
border-width: 10px;
margin:0px auto 0px auto;

}


.get-in-para{
padding-top: 30px;
text-align: center;
color:#464159;

}


.contact-button{
width:150px;
height:40px;
 background-color:#32dbc6;
 border-radius: 20px;
border-style: none none none none;

color: white;
font-size: 20px;
margin-top: 30px;
}

h4{
  display: inline-block;
  color: white;
  padding-right: 50px;
}



.email{
padding-top: 30px;
color: white;
}

.anchor{
text-decoration: none;
color: white;

}
